{{#each this}}
<li>{{name}}</li>
{{/each}}

{{!-- function createTemplateList(countryAray) {
 const list = someCountries(countryAray);
 refs.cardContainer.insertAdjacentHTML('beforeEnd', list);
 }

пример з криейтелемент
 function createList(countryArray) {
   countryArray.forEach(country => {
     const listItem = document.createElement('li');
     listItem.textContent = country.name;
     refs.cardContainer.insertAdjacentElement('beforeEnd', listItem);
   }); --}}