{{#each this}}
<li>{{name}}</li>
{{/each}}

{{!-- 
пример з криейтелемент
 function createList(countryArray) {
   countryArray.forEach(country => {
     const listItem = document.createElement('li');
     listItem.textContent = country.name;
     refs.cardContainer.insertAdjacentElement('beforeEnd', listItem);
   }); --}}