html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  background-color: #ffffff;
}

.js-search-form {
  text-align: center;
}

.js-input {
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  margin: 50px;
  width: 550px;
}
.js-input:hover,
.js-input:focus {
  border-color: gray;
  box-shadow: 2px 2px 2px darkgray;
}
.list-info-country {
  list-style: none;
  text-align: center;
  border: 2px solid black;
}

.list-info-country:hover,
.list-info-country:focus {
  background-color: lightgrey;
  border-color: gray;
  box-shadow: 2px 2px 2px darkgray;
}

.container {
  display: flex;
  justify-content: space-around;
}

.title {
  display: flex;
  justify-content: center;
}

.info {
  font-size: 30px;
  font-weight: 500;
  list-style: none;
  text-align: start;
}

.flag {
  width: 450px;
  height: 350px;
}

.js-container {
  padding: 15px;
  margin: 0;
}
